<form (submit)="onAddNote(noteForm)" #noteForm="ngForm">
  <mat-card>
      <mat-form-field>
          <mat-label>Title:</mat-label>
          <input type="text" name="title" matInput ngModel #title="ngModel" required minlength="3" maxlength="35"/>
          <mat-error *ngIf="title.invalid">Enter a valid title.</mat-error>
      </mat-form-field>
      <mat-form-field>
          <mat-label>Description:</mat-label>
          <input type="text" name="description" maxlength="40" matInput ngModel />
      </mat-form-field>
      <mat-form-field>
          <mat-label>Note:</mat-label>
          <textarea matInput rows="6" name="body" required ngModel #body="ngModel" maxlength="500"></textarea>
          <mat-error *ngIf="body.invalid">Note is empty!.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Save Note</button>
  </mat-card>
</form>
