<div class="container">
    <div style="margin-top: 50px;" class="row">
        <div class="col">
            <h2>Create Vehicle</h2>
            <div class="col-md-6">
                <form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <label for="vehicleNumber">Vehicle number</label>
                      <input type="text" formControlName="number" class="form-control" id="vehicleNumber" placeholder="Enter vehicle number here">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="divider" style="margin-top: 50px;"></div>

    <div style="margin-top: 50px;" class="row">
        <div class="col">
            <h2>List Vehicles</h2>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Number</th>
                    <th scope="col">Created</th>
                    <th scope="col">Modified</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody *ngFor="let vehicle of vehicles">
                  <tr>
                    <th scope="row">{{ vehicle.id }}</th>
                    <td>{{ vehicle.number }}</td>
                    <td>{{ vehicle.created }}</td>
                    <td>{{ vehicle.modified }}</td>
                    <td><button (click)="delete(vehicle.id)" type="button" class="btn btn-danger mb-2">Delete</button></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
